@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

 
:root { 
    --first-font-family: "Barlow", sans-sefif;
    --color-background: #F8F9FA;
    --text-18px: 13px;
}
 @layer utilities {
    .text-shadow {
        text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
    }
 }

body {
    font-family: var(--first-font-family);
    /* background-color: var(--color-background); */
}

.font__18px {
    font-size: var(--text-18px);
}

.color__background {
    background-color: var(--color-background);
}

.container__own {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.star{
    color: #f88031;
    font-size:11px;
    margin-left: 2px;
}
.faixa__two__icon {
    font-size:2rem;
}

@keyframes glow {
  0% { text-shadow: 0 0 5px #00f, 0 0 10px #0ff; }
  50% { text-shadow: 0 0 20px #00f, 0 0 30px #0ff; }
  100% { text-shadow: 0 0 5px #00f, 0 0 10px #0ff; }
}

.animate-glow {
  animation: glow 1s ease-in-out;
}

@keyframes blink {
     0% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.animate-blink {
    animation: blink 3.2s ease-in-out infinite;
}